$input-error-color: #af0000;
.form-input-container {
    padding: 10px 30px;
    flex-wrap: wrap;
    gap: 1rem;
    display: flex;
    position: relative;
    .form-input {
        display: flex;
        flex-direction: column;
        flex: 1 1 calc(50% - 1rem);
        label {
            font-weight: bold;
            margin: 5px 0px;
        }
        input {
            margin-bottom: 5px;
        }
        .error-label {
            small {
                color: $input-error-color;
            }
        }
    }
    @media (max-width: 768px) {
        .form-input {
            flex: 1 1 100%; // Full width on small screens
        }
    }
}
