.container{
    padding: 50px 25px;
    .product-list-container{
        background-color: white;
        padding: 30px 20px;
        overflow-x: scroll;
        
    }
    .product-list-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 15px;
        padding-top: 10px;
    }
}
