a{
    text-decoration: none;
    color: initial;
}
header.navbar{
    height: 64px;
    background-color: white;
    width: 100%;
    font-weight: bold;
    font-size: 20px;
    color: rgb(17, 17, 88);
    display: flex;
    justify-content: center;
    align-items: center;
}